.services {
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .services h1 {
    background-color: var(--primary-color);
    background-image: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #fcb045 21%,
      #f0a030 52%,
      #fd1d1d 78%,
      #833ab4 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
  
  .services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      ),
      url('/img/pic');
    background-size: cover;
    position: relative;
    color: #fff;
  }
  
  .services__card:before {
    opacity: 0.2;
  }
  
  .services__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.9) 100%
      ),
      url('/img/picp');
  }
  
  .services__card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
  }
  
  .services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
  }
  
  .services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fcb045;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
  }
  
  .services__card button:hover {
    cursor: pointer;
  }
  
  .services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  
  @media screen and (max-width: 960px) {
    .services {
      height: 1600px;
    }
  
    .services h1 {
      font-size: 2rem;
      margin-top: 12rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .services {
      height: 1400px;
    }
  
    .services h1 {
      font-size: 1.2rem;
    }
  
    .services__card {
      width: 300px;
    }
  }